<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Dashboard</title>
  </head>
  <body>
    <div align="center">
        <br>
        <h1>Classroom Dashboard</h1>
        <br><br><br>
        <h2>Invalid Tag</h2>
        <p>The access tag you entered does not match an activity</p>
        <%= link_to "Back to Home", "/", :class => "btn btn-lg" %>
    </div>
  </body>
</html>
