<center><br>
    <div class="jumbotron col-lg-10 col-lg-offset-1 light-green">
        <h1 class="display-3">Unauthorized Access :(</h1>
        <hr>
        <p>New user? <%= link_to "Sign Up Now", login_path %>. Already have an account? <%= link_to "Sign In", login_path %> </p>
    </div>
</center>
