<center>
    <br>
    <div>
        <h1>New Option</h1>
        <hr>
        <%= render partial: 'form', locals: {cancel_path: user_course_poll_path(@user, @course, @poll), cancel_text: "Cancel"} %>
    </div>
</center>
