<%= csrf_meta_tag %>
<script>
searchURL = "<%= url_for(controller: 'submissions', action: 'search') %>";
submitURL = "<%= url_for(controller: 'submissions', action: 'create') %>";
</script>
<h1><%= @assignment.name %></h1>
<p>enter part of your name and tap your name when it appears</p>
<div id="suggestions">
  No Names Found
</div>
<table>
    <tr class="field">
      <td><label class="control-label" for="search">Search Name</label></td>
      <td><input class="name" type="name" name="search" id="name" onload="load()"/></td>
    </tr>
    <tr class="field">
      <td><label class="control-label" for="file">Image</label></td>
      <td><input class="name" type="file" name="file" id="answer_file"/></td>
    </tr>
</table>
<a class="btn btn-danger" onclick="submitForm()" id="submit">Submit</a>
