<center>
    <br>
    <div>
        <hr>
        <%= render partial: 'form', locals: {cancel_path: user_course_path(@submission.assignment.course.user, @submission.assignment.course), cancel_text: "Cancel"} %>
    </div>
</center>