<%= render 'header', course: "", students: "", quiz: "", assignments: "" %>
<center>
    <br>
    <div>
        <h1>Edit Course</h1>
        <hr>
        <%= render partial: 'form', locals: {cancel_path: user_course_path(@user, @course), cancel_text: "Cancel"} %>
    </div>
</center>
