<center>
    <br>
    <div>

        <h1>New Course</h1>
        <hr>

        <%= render partial: 'form', locals: {cancel_path: user_courses_path(@user, @course), cancel_text: "Cancel"} %>
    </div>
</center>
