<script> var flashcard_url = "<%= url_for(controller:'courses', action:'flashcard') %>"; </script>
<center>
    <div>
    <%= render 'header', course: "", edit: "", students: "", quiz: "active", assignments: "" %>
    <center>
      <div class = "container">
        <div class="row">
          <div class = "col-lg-4"></div>
            <div class = "col-lg-4">
            <h3>Flashcards</h3>
              <div class = "flashcard" id="flashcard-info">
                <%= image_tag "/images/defaults/flashcard/missing.png", :id => "student-picture", :style => "width:300px;height:300px;" %>
                <h4 id="student-name">Name</h4>
                <p id="student-notes" style="height: 80px;">info</p>
              </div>
              <button type="button" class ="btn" onclick="toggleShow()">Show/Hide Info</button>
              <button type="button" class ="btn" onclick="drawFlashcard('quiz')">Draw Flashcard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </br>
</center>
