<script> 
  var flashcard_url = "<%= url_for(controller:'courses', action:'flashcard') %>"; 
  var note_upload_url = "<%= url_for(controller:'courses', action:'updateNotes') %>";
  drawFlashcard('quiz'); // draw initial card
</script>
<center>
    <div>
    <%= render 'header', course: "", edit: "", students: "", quiz: "active", assignments: "", polls: "" %>
    <center>
      <div class = "container">
        <div class="row">
          <div class = "col-lg-4"></div>
            <div class = "col-lg-4">
            <h1>Face/Name Quiz</h1>
              <div class = "flashcard">
                <%= image_tag "/images/defaults/flashcard/missing.png", :id => "student-picture", :style => "width:300px;height:300px;", :onclick => "drawFlashcard('quiz')" %>
                <div class= "flashcard-info" id="flashcard-container" onclick="show()">
                  <div class= "flashcard-info" id="flashcard-info">
                    <h2 id="student-name">Name</h2>
                    <span>Notes:</span>
                    <textarea rows=5 id="student-notes" onkeyup="updateNotes()"></textarea>
                  </div>
                </div>
              </div>
              <button type="button" class ="btn" onclick="toggleShow()">Show/Hide Info</button>
              <button type="button" class ="btn" onclick="drawFlashcard('quiz')">Draw Flashcard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </br>
</center>
