/*
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$background-color: rgb(250, 250, 250);

$darkpurple: #695573;
$purple: #775bb5;
$lightpink: #ffc4fd;
$pink: #b853a2;
$lightblue: #60ddfc;
$blue: #3fa0d9;
$darkerpurple: #4c4361;

* {
  border-radius: 0 !important;
}

body {
    background-color:$background-color;
    color: $darkerpurple;
    background-image: url("pattern.jpg");
    font-family: Arial, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    //background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .nav-pills > li > a{
    color: whitesmoke;
    background-color: $darkerpurple;
    box-shadow: 2px 2px

  }

  .nav-pills > li.active > a{
    color: whitesmoke;
    background-color:$purple;
  }
  .nav-pills > li.active > a:hover{
    color: whitesmoke;
    background-color: $purple;
  }

  .nav-pills > li > a:hover{
    color: whitesmoke;
    background-color: $purple;
  }

  .navbar-brand {
    a {
      color: whitesmoke;
    }
    background: transparent;
  }

  .flashcard {
    width: 340px;
    padding: 15px;
    border: 5px solid $darkerpurple;
    margin: 0;
    background-color: $darkpurple;
    color: whitesmoke;
  }

  .btn {

    background-color: $darkerpurple;
    color: whitesmoke;
    border: solid;
    border-width: thin;
    hover{
      background-color: $purple;
    }
  }


  .navbar-default {
    .h{
        color: whitesmoke;

    }
    background-color: $darkerpurple;
    height: 54px;
    .navbar-nav li a {
      color: whitesmoke;
      background-color: $darkerpurple;
    }
    border: none;
    margin: 0;
  }

  .navbar-container {
    width: 800x;
    margin: 0 auto;
    border: none;
    color: $darkerpurple;
  }

  html {
    height: 100%;
  }

.container {
  align-content: center;
  float: none;
  margin: 0 auto;
}

.drop-area {
  min-height: 70px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: rgb(200, 200, 200);
  padding: 20px 20px;
  margin: 20px 80px 20px 80px;
}

.right-align{
  float: right
}

.jumbotron{
  background-image: url("5.png");
  padding:55px;
  margin: 0;
  color:whitesmoke;
}

.display-3{
  color: whitesmoke;
  text-shadow: -4px 0 black, 0 3px $darkerpurple, 1px 0 black, 0 -1px black;
}
.selectors{
  font-size: 30px;
}
