// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selectors{
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
}
